{% extends "base.html" %}
{% load static %}
 {% block content %}
    
    <!-- banner section start -->
    <div class="banner_section layout_padding">
      <div class="container-fluid">
        <div id="my_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col-md-6">
                  <div class="banner_taital">
                    <h1 class="dance_text">Print PVC Card</h1>
                    <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magn</p>
                    <div class="about_bt"><a href="about.html">About Us</a></div>
                    <div class="contact_bt"><a href="contact.html">Contact Us</a></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-6">
                  <div class="banner_taital">
                    <h1 class="dance_text">Dance beat</h1>
                    <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magn</p>
                    <div class="about_bt"><a href="about.html">About Us</a></div>
                    <div class="contact_bt"><a href="contact.html">Contact Us</a></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="image_1"><img src="{% static 'images/img-1.png' %}"></div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col-md-6">
                  <div class="banner_taital">
                    <h1 class="dance_text">Dance beat</h1>
                    <p class="consectetur_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                      et dolore magn</p>
                    <div class="about_bt"><a href="about.html">About Us</a></div>
                    <div class="contact_bt"><a href="contact.html">Contact Us</a></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="image_1"><img src="images/img-1.png"></div>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
            <i class="fa fa-left"><img src="{% static 'images/left-icon.png' %}"></i>
          </a>
          <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
            <i class="fa fa-right"><img src="{% static 'images/right-icon.png' %}"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="ram">
      <div class="border_bg"></div>
    </div>
    <!-- banner section end -->
    <!-- Students section start -->
    <div class="Students_section layout_padding">
      <div class="container-fluid">
        <h1 class="welcome_text">Welcome New Students!</h1>
        <p class="singh_text">Sign up now to receive a 25-minute taster lesson - completely free!</p>
        <div class="click_bt"><a href="#">Click To Sigup</a></div>
        <div class="classes_section">
          <h1 class="classes_text">Classes</h1>
          <div class="dance_main">
            <div class="row">
              <div class="col-sm-3">
                <div class="box active">Dancing</div>
                <div class="box">People</div>
              </div>
              <div class="col-sm-3">
                <div class="box">Man</div>
                <div class="box">Girls</div>
              </div>
              <div class="col-sm-3">
                <div class="box">Dancer</div>
                <div class="box">Ballte Dancing</div>
              </div>
              <div class="col-sm-3 padding_0">
                <div class="image_2"></div>
              </div>
            </div>
          </div>
          <div class="readmore_bt"><a href="#">Read More</a></div>
        </div>
      </div>
    </div>
    <!-- Students section end -->
    <!-- dancer section start -->
    <div class="dancer_section layout_padding">
      <div class="container">
        <h1 class="ballet_text">Ballet Dancer</h1>
        <p class="amet_text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        <p class="amet_text_1">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoconsectetur adipiscing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
        </p>
        <div class="click_bt"><a href="#">Click To Sigup</a></div>
      </div>
    </div>
    <!-- dancer section end -->
    <!-- opening hours section start -->
    <div class="opening_section layout_padding">
      <div class="container">
        <h1 class="ballet_text">opening Hours</h1>
        <p class="amet_text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        <div class="opening_section_2 layout_padding">
          <div class="time_line">
            <p class="hiphop_text">Hip Hop Dance :</p>
            <hr class="border_0">
            <p class="hiphop_text">07:00am - 21:00am</p>
          </div>
          <div class="time_line">
            <p class="hiphop_text">Ballet :</p>
            <hr class="border_0">
            <p class="hiphop_text">09:00pm - 21:00pm</p>
          </div>
          <div class="time_line">
            <p class="hiphop_text">Break Dance :</p>
            <hr class="border_0">
            <p class="hiphop_text">18:00am - 24:00pm</p>
          </div>
          <div class="time_line">
            <p class="hiphop_text">Salsa :</p>
            <hr class="border_0">
            <p class="hiphop_text">18:00pm - 22:00am</p>
          </div>
          <div class="time_line">
            <p class="hiphop_text">Tab Dancing :</p>
            <hr class="border_0">
            <p class="hiphop_text">19:00am - 23:00am</p>
          </div>
        </div>
      </div>
    </div>
    <!-- opening hours section end -->
    <!-- shortcode section start -->
    <div class="shortcode_section layout_padding">
      <div class="container">
        <h1 class="ballet_text">SHORTCODE</h1>
        <p class="amet_text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        <div class="shortcode_section_2">
          <div class="shortcode_left">
            <h1 class="heading_text">Heading 1</h1>
            <p class="tempor_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoconsectetur adipiscing </p>
          </div>
          <div class="shortcode_right"><img src="images/img-3.png"></div>
        </div>
        <div class="shortcode_section_2">
          <div class="shortcode_right"><img src="images/img-4.png"></div>
          <div class="shortcode_left border_left_0">
            <h1 class="heading_text_1">Heading 2</h1>
            <p class="tempor_text_1">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoconsectetur adipiscing </p>
          </div>
        </div>
        <div class="shortcode_section_2">
          <div class="shortcode_left">
            <h1 class="heading_text">Heading 3</h1>
            <p class="tempor_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoconsectetur adipiscing </p>
          </div>
          <div class="shortcode_right"><img src="images/img-5.png"></div>
        </div>
      </div>
    </div>
    <!-- shortcode section end -->
    <!-- testimonial section start -->
    <div class="testimonial_section layout_padding">
      <div class="container">
        <h1 class="ballet_text">Testimonial</h1>
        <p class="amet_text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        <div id="main_slider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="testimonial_section_2 layout_padding">
                <h1 class="emrold_text">Emrold Deni</h1>
                <p class="dummy_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoconsectetur adipiscing </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial_section_2 layout_padding">
                <h1 class="emrold_text">Emrold Deni</h1>
                <p class="dummy_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoconsectetur adipiscing </p>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testimonial_section_2 layout_padding">
                <h1 class="emrold_text">Emrold Deni</h1>
                <p class="dummy_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                  magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamcoconsectetur adipiscing </p>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
            <i class="fa fa-left"><img src="images/left-icon.png"></i>
          </a>
          <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
            <i class="fa fa-right"><img src="images/right-icon.png"></i>
          </a>
        </div>
      </div>
    </div>
    <!-- testimonial section end -->
    <!-- contact section start -->
    <div class="contact_section layout_padding">
      <div class="container-fluid">
        <h1 class="ballet_text">Testimonial</h1>
        <p class="amet_text">amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </p>
        <div class="contact_section2">
          <div class="row">
            <div class="col-md-6 padding_left_0">
              <div class="mail_section">
                <input type="" class="mail_text" placeholder="Name" name="Name">
                <input type="" class="mail_text" placeholder="Phone Number" name="Phone Number">
                <input type="" class="mail_text" placeholder="Email" name="Email">
                <textarea class="massage_text" placeholder="Message" rows="5" id="comment" name="Message"></textarea>
                <div class="send_bt"><a href="#">send</a></div>
              </div>
            </div>
            <div class="col-md-6 padding_0">
              <div class="map-responsive">
                <iframe
                  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France"
                  width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- contact section end -->
  
{% endblock %}